.bootstrap_inside {
   /*@import "./bootstrap.css";*/
   /*@import "./bootstrap.css";*/
}

.domain { 
  fill: none; 
  stroke: rgb(186,186,186); 
  stroke-width: 1; 
} 

#fchange,
.qv-object-VizContest-FastChange{
	overflow : visible;
	z-index:9999;
}

.row {
   margin-right: 0px; 
   margin-left: 0px; 
}

.container-fluid{
   padding-right: 0px; 
   padding-left: 0px; 
   margin-right: auto; 
   margin-left: auto; 
}

.sideBar{
	height : 100%;
	background-color : rgb(230,230,230);
	float:left;
	width : 230px;
}

.sided{
	height : 100%;
	background-color : rgb(230,230,230);
	/*float:left;*/
	position: auto;
	overflow: scroll;  
	/*width : 230px;*/
	width: 16.66666667%;
	border : 1px solid #ccc;
}
.element, .elementlight{
	height : 100px;
	background-color : white;
	border-radius: 0px;
	
    border: 0px solid #ccc;
    border-left-width: 5px;
	cursor : pointer;
	/*border : solid 1px rgb(230,230,230);*/
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  
}

::-webkit-scrollbar {
  width: 0px;
}

.elementGradient{
background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  color: white;
  
}

.elementSelected{
	background-color: white;
	color: black;
}

.usericon{
	/*padding-left: 10px*/
	display: block;
  margin-left: auto;
  margin-right: auto;
}



.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.elementlightGradient{
background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    background-color: #f8f8f8;
  border-color: #e7e7e7;
  color: black;
}

.EMP_Details{
padding-top: 10px;
text-align : center;
}